
.title {
font-family: cursive;
color: #3080a2;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 5%;
}

.product-card {
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: -1px 5px 9px 0px rgba(111,111,111,0.31); 
  box-shadow: -1px 5px 9px 0px rgba(111,111,111,0.31);
  transition: 0.1s;
  color: #343434;
  text-decoration: none;
}

.product-card:hover {
  transform: scale(1.02);
  transition: 0.2s;
  cursor: pointer;
}

.product-card:active {
  transform: scale(0.99);
  transition: 0.2s;
  cursor: pointer;
}

.product-show {
  padding: 5%;
  display: flex;
  justify-content: center;
}

.product-show-container {
  padding: 5%;
  border-radius: 15px;
  border: 5px solid #3080a2;
}

.big-card:hover {
  transform: scale(1);
}

.form-group {
  margin-bottom: 2rem;
}

.btn {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #3080a2;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 1rem;
  text-decoration: none;
}

.btn-primary {
  background-color: #3080a2;
}

.btn-secondary {
  background-color: #450684;
}


body {
  background-color: #fffffa;
  margin: 0;
  padding: 0;
}