<!-- app/views/products/index.html.erb -->
<div class="products-index">
  <div class="product-grid">
    <% @products.each do |product| %>
      <%= link_to product_path(product), class: 'product-card' do %>
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <p><strong>Price:</strong> <%= number_to_currency(product.price, unit: "£") %></p>
      <% end %>
    <% end %>
  </div>
</div>
